html{
    text-align: center;
    font-size: 3vmin;
}

#main{
    margin-top: 4vh;
}

/* #img-div{
    height: 50%;
    width: 50%;
} */

#img{
    height: auto;
    width: 60%;
    max-width: 100%;
    object-fit: contain;
}